---
import Image from "astro/components/Image.astro";
import TechStack from "@/common/TechStack.astro";
import Tag from "@/common/TagProject.astro";
import { useTranslations } from "@/i18n/utils";

const { cardClass, lang } = Astro.props;
const t = useTranslations(lang);
---

<article
    class={`${cardClass} md:col-span-3 md:row-span-1 bg-[#1e1b4b] relative overflow-hidden group`}
>
    <div
        class="absolute inset-0 bg-linear-to-br from-indigo-900/40 via-transparent to-black/40 pointer-events-none"
    >
    </div>

    <div
        class="flex flex-col md:flex-row justify-between h-full relative z-20 p-6 pointer-events-none"
    >
        <div class="md:w-3/5 flex flex-col justify-center items-start z-20">
            <Tag text="BACKEND" variant="indigo" />

            <h3 class="text-2xl font-bold text-indigo-400">
                {t("projects.p5.title")}
            </h3>
            <p class="text-indigo-200/70 text-sm mt-1 max-w-sm">
                {t("projects.p5.desc")}
            </p>

            <div class="mt-3 flex items-center gap-2">
                <span class="text-[10px] text-indigo-400 font-bold uppercase"
                    >{t("projects.team")}</span
                >
                <span class="text-xs text-indigo-200"
                    >Mauricio S., Alexander R., Santiago A.</span
                >
            </div>

            <div class="mt-4">
                <TechStack
                    techs={["NodeJS", "Express", "React", "Git", "GitHub"]}
                />
            </div>
        </div>

        <div
            class="absolute right-0 bottom-0 md:w-1/2 w-2/3 translate-x-12 translate-y-12 group-hover:translate-x-6 group-hover:translate-y-6 transition-transform duration-500 pointer-events-none"
        >
            <Image
                src="https://placehold.co/500x350/2e2a6b/a5b4fc?text=API+JSON"
                alt="API Code"
                width="500"
                height="350"
                class="rounded-tl z-10-2xl shadow-2xl shadow-black/50 border-t-4 border-l-4 border-indigo-500/30 rotate-3 group-hover:rotate-0 transition-transform duration-500"
            />
        </div>
    </div>

    <a
        href="https://github.com/FelipePalazzi/TP-Api-Rest-Full-NodeJS---ReactJS"
        target="_blank"
        class="absolute inset-0 z-50"
        aria-label="Ver API REST"></a>
</article>
