---
import Titles from "../common/Titles.astro";
---

<section
    id="about"
    class="flex flex-col min-h-dvh w-full md:px-20 px-6 py-20 justify-center items-center"
>
    <div class="w-full max-w-7xl">
        <Titles title="Sobre mí" idLink="about" />

        <div
            class="flex w-full md:h-[500px] h-auto gap-10 md:flex-row flex-col items-center mt-10"
        >
            {/* --- IMAGEN --- */}
            <div class="md:w-1/2 w-full md:h-full h-[350px] relative shrink-0">
                <div
                    class="w-full h-full
                    bg-[url(../assets/About.webp)] bg-no-repeat bg-cover bg-top
                    saturate-50
                    rounded-3xl shadow-xl shadow-primary-900/20"
                >
                </div>
            </div>

            {/* --- TEXTO --- */}
            <div
                class="md:w-1/2 w-full flex flex-col gap-6 md:items-start items-center text-center md:text-left"
            >
                <div>
                    <h2
                        class="text-primary-700 font-bold text-xl md:text-2xl lg:text-3xl leading-tight text-balance"
                    >
                        Tengo 23 años y resido en Concepción del Uruguay, Entre
                        Ríos, Argentina.
                    </h2>
                </div>

                <div>
                    <p
                        class="text-primary-600 font-semibold text-xl md:text-2xl leading-snug text-balance"
                    >
                        Actualmente estudiante en la facultad UTN-FRCU. Cursando
                        mi 4to año.
                    </p>
                </div>

                <div
                    class="relative overflow-hidden p-8 rounded-3xl
                    border-2 border-white/10 bg-primary-100/50 shadow-lg shadow-primary-500/40
                    backdrop-blur-md hover:border-white/40 hover:bg-primary-300/50
                    transition-all duration-300 group"
                >
                    <!-- Decorative Blob -->
                    <div
                        class="absolute -right-6 -top-6 w-28 h-28 rounded-full bg-primary-500 opacity-40 blur-3xl group-hover:opacity-60 transition-opacity pointer-events-none"
                    >
                    </div>

                    <p
                        class="text-primary-600/90 font-medium text-lg md:text-xl text-pretty relative z-10"
                    >
                        Soy un desarrollador junior interesado en crear
                        soluciones eficientes y aprender nuevas tecnologías.
                        <span class="block mt-2">
                            Me gusta trabajar con
                            <strong class="text-primary-700">
                                JavaScript, React, Node y PostgreSQL</strong
                            >.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
