<section id="about" class="py-20">
    <span
        class="flex justify-center
             text-[70px] md:text-[140px] font-extrabold
               bg-linear-to-b from-primary-400/90 to-primary-700/10 blur-2x1 z-0
               bg-clip-text text-transparent"
    >
        Sobre mi
    </span>
</section>
