---
import { useTranslations } from "@/i18n/utils";

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<footer
  class="flex bottom-0 my-5 md:mt-30 h-15 max-w-dvh w-full justify-center items-center"
>
  <div class="flex w-full h-full flex-col text-center select-none">
    {/* Divider */}
    <div
      class="w-full h-px mb-2 bg-primary-950/30 flex justify-center
     mask-radial-at-center mask-x-from-primary-200 mask-x-from-60%"
    >
    </div>

    {/* Copyright */}
    <p class="text-xs text-primary-950 opacity-70">
      {t("footer.copyright")}
    </p>
  </div>
</footer>
