---
import Image from "astro/components/Image.astro";
import About from "./About.astro";
import Contact from "./Contact.astro";
import Projects from "./Projects.astro";
import Skills from "./Skills.astro";
import SocialIcons from "./SocialIcons.astro";
import ProfileImage from "../assets/Profile.webp";
import Chevron from "../common/Chevron.astro";
---

<main
    id="home"
    class="flex-1 justify-center flex flex-col h-full min-w-full max-w-full xl:px-40 md:-my-25
    relative"
>
    {/*Presentacion imagen mas breve texto */}
    <div
        class="flex w-full min-h-dvh items-center justify-center relative md:flex-row flex-col gap-5"
    >
        {/*Imagen de perfil */}
        <div class="relative w-[800px] h-[800px]">
            <!-- Borde con máscara -->
            <div
                class="absolute inset-0 border-20 border-primary-950/80
               bg-primary-950/80
               mask-[url(../assets/maskProfile.svg)] mask-size-contain mask-no-repeat"
            >
            </div>

            <!-- Imagen interior con máscara -->
            <div
                class="absolute inset-2 p-20 bg-origin-content
               bg-[url(../assets/Profile.webp)] bg-cover 
               mask-[url(../assets/maskProfile.svg)] mask-size-contain mask-no-repeat"
            >
            </div>
        </div>

        {/*Texto de presentacion */}
        <div class="flex flex-col gap-5 md:items-start items-center">
            <h1
                class="flex md:grow md:text-start text-center items-start text-primary-700 font-bold md:text-7xl text-6xl text whitespace-normal"
            >
                Hola!
            </h1>
            <h1
                class="flex md:grow md:text-start text-center items-start text-primary-700 font-bold md:text-7xl text-6xl text whitespace-normal"
            >
               Soy Felipe Palazzi
            </h1>
            <h3
                class="flex md:grow text-start items-start text-primary-600/90 font-bold md:text-3xl text-2xl split whitespace-normal"
            >
                Desarrollador full stack
            </h3>
            <SocialIcons />
        </div>
    </div>
    {/* Display del ver mas */}
    <a href="#about" class="flex w-full justify-center">
        <div class="flex -mt-25 w-20 h-20 z-20">
            <Chevron />
        </div>
    </a>
    {/*About */}
    <div class="flex flex-col w-full h-full justify-center select-none">
        <About />
    </div>
    {/*Proyectos */}
    <div class="flex flex-col w-full h-full justify-center select-none">
        <Projects />
    </div>
    {/*Habilidades */}
    <div class="flex flex-col w-full h-full justify-center select-none">
        <Skills />
    </div>
    {/*Contact */}
    <div class="flex flex-col w-full h-full justify-center select-none">
        <Contact />
    </div>
</main>
