---
import SectionSeparator from "./SectionSeparator.astro";

const { title, idLink } = Astro.props;
---

<div
    id={idLink}
    class="relative flex justify-center items-center w-full py-32 overflow-hidden"
>
    <!-- Waves Container -->
    <SectionSeparator />

    <!-- Title -->
    <span
        class="absolute top-0 z-20 flex justify-center font-extrabold
         bg-linear-to-b from-primary-400 to-primary-700
         bg-clip-text text-transparent
         text-[clamp(3rem,10vw,9rem)] drop-shadow-sm"
    >
        {title}
    </span>
</div>
